circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}
.box {
  width: 200px;
  height: 200px;
  background: black;
}
.item{
    font-size: 1.5em;
    padding-block: 1em;
}

ul{
    list-style: none;
}